.footer {
    width: 100%;
    min-height: 25vh;
    padding: 100px 32px 32px;
    box-sizing: border-box;
    background: #111111;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0 20px;
    border-top: 1px solid #333;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 80px;
}

.footer-title span {
    display: block;
    font-size: 10px;
    letter-spacing: .15em;
    color: #aaa;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.footer-links a {
    position: relative;
    color: #aaa;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: .1em;
    transition:
        color .25s ease,
        transform .25s ease;
}

.footer-links a::before {
    content: "→";
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: opacity .25s ease;
}

.footer-links a:hover {
    color: #fff;
    transform: translateX(5px);
}

.footer-links a:hover::before {
    opacity: 1;
}

@media (max-width: 800px) {
    .footer {
        padding: 80px 22px 22px;
    }

    .footer-main {
        grid-template-columns: 1fr;
        gap: 50px;

        padding-bottom: 60px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 40px 18px 18px;
    }

    .footer-main {
        padding-top: 20px;
        gap: 20px;
    }

    .footer-title h2 {
        font-size: 44px;
    }

    .footer-links {
        gap: 16px;
    }

    .footer-links a {
        font-size: 12px;
    }
}